td {
    border: 1px solid black;
    width: 20px;
    height: 26px;
    background-color: lightgray;
    text-align: center;
    color: red;
}

button {
    border: 1px solid black;
    border-radius: 10px;
}
select{
    border-radius: 10px;
}